<div class="mainDiv">
  <div>
    <form [formGroup]="formGroup" class="filterDiv">
      <mat-label>Name:&nbsp;&nbsp; {{greyhoundName}}</mat-label>
      <mat-form-field appearance="outline" class="filter-tabs">
        <mat-label>From</mat-label>
        <input matInput formControlName="fromDate" [matDatepicker]="start"
          placeholder="Start Date"
          readonly (dateChange)="getCharts()">
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="filter-tabs">
        <mat-label>To</mat-label>
        <input matInput formControlName="toDate"
          [min]="formGroup.get('fromDate').value"
          [matDatepicker]="end" placeholder="End Date" readonly
          (dateChange)="getCharts()">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Chart Kind</mat-label>
        <mat-select formControlName="chartKind" (selectionChange)="getCharts()">
          <mat-option [value]="element" *ngFor="let element of chartKindData">{{
            element }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="detailsDiv">
    <div class="listDiv">
      <div
        cdkDropList
        #greyhoundNamesList="cdkDropList"
        [cdkDropListData]="greyhoundNames"
        [cdkDropListConnectedTo]="[selectedNamesList]"
        class="example-list">
        <div class="example-box" *ngFor="let item of greyhoundNames" cdkDrag>{{item.name}}</div>
      </div>
      <div class="arrowDiv">
        <mat-icon>arrow_upward</mat-icon>
        <mat-icon>arrow_downward</mat-icon>
      </div>
      <div
        cdkDropList
        #selectedNamesList="cdkDropList"
        [cdkDropListData]="selectedNames"
        [cdkDropListConnectedTo]="[greyhoundNamesList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of selectedNames" cdkDrag>{{item.name}}</div>
      </div>
    </div>
    <div class="chartDiv">
      <canvas
        height="240"
        baseChart
        class="chart m-0"
        [datasets]="lineChartSteppedData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"></canvas>
    </div>
  </div>
</div>