table{
    width: 100%;
}
.filterDiv{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.chartDiv{
    width: 76%;
    margin-top: 20px;
    height: 370px;
}
.arrowDiv{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.detailsDiv{
display: flex;
justify-content: space-between;
}
.mainDiv{
    padding: 20px;
}
.filterDiv mat-label{
    font-size: 20px;
}
.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow-y: scroll;
    display: block;
    height: 150px;
  }
  
  .example-box {
    padding: 10px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  .listDiv{
    display: block;
    width: 17%;
    margin-top: 30px;
}


@media screen and (max-width: 800px) {
    .filterDiv{
        display: block;
    }
    .mat-mdc-form-field{
        display: block;
    }}