<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mode" fixedInViewport="fixedInViewport" [opened]="isOpened">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="mat-toolbar-fixed mat-elevation-z1">
            <button id="toggleButton" (click)="sidenav.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span class="fill-remaining-space"></span>
            <app-header></app-header>
        </mat-toolbar>
        <app-loading></app-loading>
        <mat-card style="min-height: 90%; overflow: auto;">
            <div class="wrapper">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<router-outlet></router-outlet>