mat-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
table{
    margin: 20px;
}
.tableRow:hover{
    cursor: pointer;
    background-color: rgb(18, 87, 37);
}
.tableHeading{
    background-color: rgb(82 83 84);
    color: white;
}
th{
    color: white;
    align-items: center;
}
tr.tableRow:not(.tableHeading):hover {
    background: lightgray;
  }
  .raceDetailTable{
    width: 96%;
  }
  .raceDetailTable a{
    color: blue;
}

  @media (max-width: 768px) {

    .mobile-view{
        overflow: scroll;
    }
  }
  