<div *ngIf="isLoading">
  <mat-progress-spinner [mode]="'indeterminate'" class="matSpinner"></mat-progress-spinner>
</div>
<div class="banner-section">
  <div>
    <br>
    <br>
    <br>
    <br>
    <mat-toolbar class="toolbar" style="background:
      none; color:white;">
      <div>
        <button mat-icon-button (click)="backBtn()" style="font-size: 40px;
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          line-height: 0px;"><mat-icon>arrow_back</mat-icon></button>
        <span style="font-size: 50px; font-weight: bold; padding-left: 20px;">{{selectedTrainer
          ? selectedTrainer.name : 'Trainer'}}</span>
      </div>
    </mat-toolbar>
    <br>
    <br>
  </div>
</div>
<form [formGroup]="formGroup" class="filterDiv">
  <mat-form-field appearance="outline">
    <mat-label>Track</mat-label>
    <mat-select formControlName="track" (selectionChange)="onSelectionChangeTrack($event.value)">
      <mat-option [value]="element.name" *ngFor="let
        element of trackList">{{element.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Trainer</mat-label>
    <mat-select formControlName="trainerId" (selectionChange)="onSelectionChangeTrainer($event.value)">
      <mat-option [value]="element.id" *ngFor="let element of
        trainerData">{{element.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <mat-select formControlName="chartKind" (selectionChange) = "onSelectionChangeType($event.value)">
                  <mat-option [value]="element" *ngFor="let element of
                      typeData">{{element}}</mat-option>
              </mat-select>
          </mat-form-field> -->
  <mat-form-field appearance="outline">
    <mat-label>Distance</mat-label>
    <mat-select formControlName="distance">
      <mat-option value="0">All</mat-option>
      <mat-option [value]="element" *ngFor="let
        element of distanceData">{{element}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Class</mat-label>
    <mat-select formControlName="grade">
      <mat-option value="all">All</mat-option>
      <mat-option [value]="element" *ngFor="let
        element of gradeData">{{element}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="searchBtn" [disabled]="formGroup.invalid" mat-raised-button (click)="trainerGraph()"><mat-icon style="cursor: pointer; color:
      #32a852">poll
    </mat-icon>
    View Graph</button>
  &nbsp;
  <button (click)="reset()" class="searchBtn" style="background: orange;" mat-raised-button>Clear</button>
</form>
<table class="table" style="color: black;">
  <tr style="background: orange">
    <th>Days</th>
    <ng-container *ngFor="let element of lineChartLabels">
      <th>{{element}}</th>
    </ng-container>
  </tr>
  <tbody>
    <tr style="background: rgba(0, 0, 1, 0.2);">
      <td><b>Rating</b></td>
      <ng-container *ngFor="let element of ratingData">
        <td>{{element}}</td>
      </ng-container>
    </tr>
    <tr style="background: rgba(0, 0, 1, 0.2);">
      <td><b>Prize</b></td>
      <ng-container *ngFor="let element of prizeMoneyData">
        <td>£{{element}}</td>
      </ng-container>
    </tr>
    <tr style="background: rgba(0, 0, 1, 0.2);">
      <td><b>Win</b></td>
      <ng-container *ngFor="let element of winData">
        <td>{{element}}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
<div class="detailsDiv">
  <div class="chartDiv">
    <!-- <canvas
      height="240"
      baseChart
      class="chart m-0"
      [datasets]="lineChartSteppedData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"></canvas> -->
    <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
  </div>
</div>