table {
  width: 100%;
}

.toolbarTop {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.chartDiv {
  width: 100%;
  margin-top: 20px;
  height: 370px;
}

.arrowDiv {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.detailsDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filterDiv mat-label {
  font-size: 20px;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow-y: scroll;
  display: block;
  height: 150px;
}

.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.listDiv {
  display: block;
  width: 17%;
  margin-top: 30px;
}

.filterDiv {
  display: flex;
  margin-top: 10px;
}

.formBg {
  background-color: black;
  height: 233px;
  z-index: -2;
  position: relative;
  margin-top: -19px;
  margin-right: -5px;
}

.searchBtn {
  height: 53px !important;
  width: 270px !important;
  font-size: 16px;
}

.exportAndGraphBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}

.formDiv img {
  background-size: 100% auto;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  height: 235px;
  width: 100%;
}

.filterDiv mat-form-field {
  width: 250px;
}

.toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.matSpinner {
  position: absolute;
  margin-left: 46%;
  margin-top: 15%;
  z-index: 1100;
}

@media screen and (max-width: 800px) {
  .filterDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    flex-wrap: wrap;
    margin-top: -205px;
    position: relative;
    z-index: 2;
  }

  .filterDiv mat-form-field {
    width: 150px;
    height: 61px;
    font-size: 10px;
  }

  .searchBtn {
    height: 47px !important;
    width: 153px !important;
    font-size: 16px;
    margin-top: -14px;
  }

  .matSpinner {
    margin-left: 36%;
    margin-top: 65%;
  }

  .filterDiv mat-form-field {
    width: 150px;
    height: 61px;
    font-size: 10px;
  }

  .chartDiv {
    margin-top: 0px;
  }

  .formDiv img {
    height: 210px;
  }

  .formBg {
    height: 210px;
    margin-top: -19px;
  }

  .toolbar {
    background: none;
    color: white;
    margin-top: -27px;
    display: block;
  }

  .toolbar p {
    font-size: 12px;
  }

  .exportAndGraphBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;
  }
}


th {
  color: rgb(0, 0, 0);
  align-items: center;
}

td{
  text-align: center;
}